.App {
  text-align: center;
}

.comic {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 3rem;
  color: purple;
}

textarea {
  font-size: 3rem;
}

.buttonText {
  font-size: 3rem;
  color: purple;
}

h1 {
  font-size: 3.5rem;
  color: purple;
}
